
@font-face {
    font-family: 'Beautiful People';
    src: url('BeautifulPeoplePersonalUse.woff2') format('woff2'),
        url('BeautifulPeoplePersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}