.info {
    height: 50px;
    width: 200px;
    border-radius: 20px !important;
    font-size: 18px;
    line-height: 1.3;
}
.info button.toast-close {
    position: absolute;
    right: 15px;
    top: 22px;

}